<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet: Krissh Sivaparan</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
    <header>
        <hgroup>
            <h1>
                Krissh Sivaparan
            </h1>
            <p>
                <i>
                    un élève exemplaire de la classe CIEL - Andrew
                </i>
            </p>
        </hgroup>
    </header>
    <main>
        
    </main>
</body>
</html>