<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet: Krissh Sivaparan</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <hgroup>
            <h1>
                Krissh Sivaparan
            </h1>
            <p>
                <i>
                    un élève exemplaire de la classe CIEL - Andrew
                </i>
            </p>
        </hgroup>
        <a href="/">Revenir a l'arrière</a>
    </header>
    <main>
        <p>
            Bonjour, je m’appelle est krissh et je suis un programmeur apprenti et un étudiant.
        </p>
        <p>
            Je m’intéresse principalement à l’ingénierie logicielle, au développement de langages (interprétés et compilés), au développement de systèmes d’exploitation (noyau et pilotes) et au développement backend.
        </p>
        <p>
            J’aime aussi bricoler avec le matériel et les logiciels, comme créer des mods pour des jeux ou des userscripts pour des sites web.
        </p>
        <a href="{{ url_for('static', filename='CV_krissh.pdf') }}">Télécharger mon CV</a>

        <h4>
            éducation:
        </h4>
        <ul>
            <li>
                <strong>éduction national</strong>: brevet of collège
            </li>
            <li>
                <strong>éducation national</strong>: év@lang
            </li>
            <li>
                <strong>amazon</strong>: future engineer certificate
            </li>
            <li>
                <strong>le wagon</strong>: intro to git and github certificate
            </li>
            <li>
                <strong>le wagon</strong>: intro to python certificate
            </li>
        </ul>

        <h4>
            outils que j’utilise:
        </h4>
        <ul>
            <li>
                <strong>vim/neovim</strong>
            </li>
            <li>
                <strong>vscode</strong>
            </li>
            <li>
                <strong>tmux</strong>
            </li>
            <li>
                <strong>linux</strong>
            </li>
            <li>
                <strong>windows</strong>
            </li>
        </ul>

        <h4>
            languages de programmation:
        </h4>
        <ul>
            <li>
                <strong>python</strong>
            </li>
            <li>
                <strong>go</strong>
            </li>
            <li>
                <strong>javascript/typescript</strong>
            </li>
            <li>
                <strong>nim</strong>
            </li>
            <li>
                <strong>lua/luau</strong>
            </li>
        </ul>

        <h4>
            languages parlées:
        </h4>
        <ul>
            <li>
                <strong>francais</strong>: langue maternelle
            </li>
            <li>
                <strong>anglais</strong>: langue maternelle
            </li>
            <li>
                <strong>tamoul</strong>: langue maternelle
            </li>
        </ul>
    </main>
</body>

</html>